<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css" />

    <title>Store</title>
  </head>
  <body>
    <!-- Form -->
    <form method="post" action="/save" id="mainForm">
      <!-- Left Box -->
      <div id="leftBox">
        <!-- Heading -->
        <h1>STORE</h1>

        <!-- Invoice -->
        <div id="invoice">
          <h3>INVOICE</h3>
          <input
            type="number"
            name="invoiceNo"
            placeholder="Invoice #"
            readonly
            required
          />
        </div>

        <!-- Date -->
        <div id="date">
          <h3>Date</h3>
          <input
            type="text"
            name="date"
            placeholder="Date, Time"
            readonly
            required
          />
        </div>

        <!-- Customer -->
        <div id="billTo">
          <h3>Bill To</h3>
          <input
            type="text"
            name="billTo"
            placeholder="Name"
            autocomplete="off"
            required
          />
        </div>

        <!-- Phone No -->
        <div id="phone">
          <h3>Phone No.</h3>
          <input type="number" name="phoneNo" placeholder="Phone #" />
        </div>
      </div>

      <!-- Right Box -->
      <div id="rightBox">
        <!-- Table -->
        <div id="tableBox">
          <table id="myTable">
            <thead>
              <tr>
                <th>Items Name</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <input
                    type="text"
                    list="suggestions"
                    name="itemName[]"
                    placeholder="name"
                    required
                  />
                  <datalist id="suggestions">
                    <option value="PC"></option>
                    <option value="LED"></option>
                    <option value="Mouse"></option>
                    <option value="Cables"></option>
                    <option value="Laptop"></option>
                    <option value="Keyboard"></option>
                  </datalist>
                </td>
                <td>
                  <input
                    type="number"
                    name="quantity"
                    placeholder="quantity"
                    required
                  />
                </td>
                <td>
                  <input
                    type="number"
                    name="rate"
                    placeholder="rate"
                    readonly
                  />
                </td>
                <td>
                  <input
                    type="number"
                    name="amount"
                    placeholder="amount"
                    readonly
                  />
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <th colspan="2">
                  <input
                    type="text"
                    name="totalBill"
                    value="TOTAL BILL"
                    readonly
                  />
                </th>
                <th colspan="2">
                  <input
                    type="text"
                    name="rupees"
                    placeholder="Rs. 0.00"
                    readonly
                  />
                </th>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- More Options -->
        <div id="moreOpt">
          <!-- Add Item -->
          <button id="addRowButton" class="optBtns" type="button">
            <span>
              <svg
                height="20"
                width="20"
                style="margin-right: 2px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"
                  fill="currentColor"
                ></path>
              </svg>
              Add Item
            </span>
          </button>

          <!-- Settings -->
          <button class="optBtns" type="button">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="20"
                width="20"
                style="margin-right: 4px; fill: white"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 16c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.084 0 2 .916 2 2s-.916 2-2 2-2-.916-2-2 .916-2 2-2z"
                ></path>
                <path
                  d="m2.845 16.136 1 1.73c.531.917 1.809 1.261 2.73.73l.529-.306A8.1 8.1 0 0 0 9 19.402V20c0 1.103.897 2 2 2h2c1.103 0 2-.897 2-2v-.598a8.132 8.132 0 0 0 1.896-1.111l.529.306c.923.53 2.198.188 2.731-.731l.999-1.729a2.001 2.001 0 0 0-.731-2.732l-.505-.292a7.718 7.718 0 0 0 0-2.224l.505-.292a2.002 2.002 0 0 0 .731-2.732l-.999-1.729c-.531-.92-1.808-1.265-2.731-.732l-.529.306A8.1 8.1 0 0 0 15 4.598V4c0-1.103-.897-2-2-2h-2c-1.103 0-2 .897-2 2v.598a8.132 8.132 0 0 0-1.896 1.111l-.529-.306c-.924-.531-2.2-.187-2.731.732l-.999 1.729a2.001 2.001 0 0 0 .731 2.732l.505.292a7.683 7.683 0 0 0 0 2.223l-.505.292a2.003 2.003 0 0 0-.731 2.733zm3.326-2.758A5.703 5.703 0 0 1 6 12c0-.462.058-.926.17-1.378a.999.999 0 0 0-.47-1.108l-1.123-.65.998-1.729 1.145.662a.997.997 0 0 0 1.188-.142 6.071 6.071 0 0 1 2.384-1.399A1 1 0 0 0 11 5.3V4h2v1.3a1 1 0 0 0 .708.956 6.083 6.083 0 0 1 2.384 1.399.999.999 0 0 0 1.188.142l1.144-.661 1 1.729-1.124.649a1 1 0 0 0-.47 1.108c.112.452.17.916.17 1.378 0 .461-.058.925-.171 1.378a1 1 0 0 0 .471 1.108l1.123.649-.998 1.729-1.145-.661a.996.996 0 0 0-1.188.142 6.071 6.071 0 0 1-2.384 1.399A1 1 0 0 0 13 18.7l.002 1.3H11v-1.3a1 1 0 0 0-.708-.956 6.083 6.083 0 0 1-2.384-1.399.992.992 0 0 0-1.188-.141l-1.144.662-1-1.729 1.124-.651a1 1 0 0 0 .471-1.108z"
                ></path>
              </svg>
              Settings
            </span>
          </button>

          <!-- Save -->
          <button class="optBtns" type="submit">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="20"
                width="20"
                style="margin-right: 4px; fill: white"
                viewBox="0 0 24 24"
              >
                <path
                  d="M5 21h14a2 2 0 0 0 2-2V8a1 1 0 0 0-.29-.71l-4-4A1 1 0 0 0 16 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zm10-2H9v-5h6zM13 7h-2V5h2zM5 5h2v4h8V5h.59L19 8.41V19h-2v-5a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v5H5z"
                ></path>
              </svg>
              Save
            </span>
          </button>
        </div>
      </div>
    </form>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Custom JS -->
    <script src="/app.js"></script>
  </body>
</html>
